<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Microformats : Meaningful HTML</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <!-- <%= javascript_include_tag "application", media: "all" %> -->

    <%= favicon_link_tag "favicon-96x96.png", sizes: "96x96", type: "image/png" %>
    <%= favicon_link_tag "favicon-32x32.png", sizes: "32x32", type: "image/png" %>
    <%= favicon_link_tag "favicon-16x16.png", sizes: "16x16", type: "image/png" %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
